In [2]:
import pandas as pd

In [3]:
population = pd.read_html('https://en.wikipedia.org/wiki/World_population')

In [4]:
len(population)

29

In [9]:
population[0]

,Population,1,2,3,4,5,6,7,8,9,10
0,Year,1804,1927,1960,1974,1987,1999,2011,2022,2037,2057
1,Years elapsed,"200,000+",123,33,14,13,12,12,11,15,20

In [10]:
population[1]

,Region,2022 (percent),2030 (percent),2050 (percent)
0,Sub-Saharan Africa,"1,152 (14.51%)","1,401 (16.46%)","2,094 (21.62%)"
1,Northern Africa and Western Asia,549 (6.91%),617 (7.25%),771 (7.96%)
2,Central Asia and Southern Asia,"2,075 (26.13%)","2,248 (26.41%)","2,575 (26.58%)"
3,Eastern Asia and Southeastern Asia,"2,342 (29.49%)","2,372 (27.87%)","2,317 (23.92%)"
4,Europe and Northern America,"1,120 (14.10%)","1,129 (13.26%)","1,125 (11.61%)"
5,Latin America and the Caribbean,658 (8.29%),695 (8.17%),749 (7.73%)
6,Australia and New Zealand,31 (0.39%),34 (0.40%),38 (0.39%)
7,Oceania,14 (0.18%),15 (0.18%),20 (0.21%)
8,World,7942,8512,9687

In [13]:
population[4]

,Rank,Country / Dependency,Population,Percentage of the world,Date,Source (official or from the United Nations)
0,1,India,1425775850,NaN,14 Apr 2023,UN projection[92]
1,2,China,1412600000,NaN,31 Dec 2021,National annual estimate[93]
2,3,United States,335582147,NaN,4 Nov 2023,National population clock[94]
3,4,Indonesia,275773800,NaN,1 Jul 2022,National annual estimate[95]
4,5,Pakistan,229488994,NaN,1 Jul 2022,UN projection[96]
5,6,Nigeria,216746934,NaN,1 Jul 2022,UN projection[96]
6,7,Brazil,216860623,NaN,4 Nov 2023,National population clock[97]
7,8,Bangladesh,168220000,NaN,1 Jul 2020,Annual Population Estimate[98]
8,9,Russia,147190000,NaN,1 Oct 2021,2021 preliminary census results[99]
9,10,Mexico,128271248,NaN,31 Mar 2022,NaN

In [16]:
population[7]

   Rank                 Country  Population  Area (km2)  Density (pop/km2)
0     1               Singapore     5921231         719               8235
1     2              Bangladesh   165650475      148460               1116
2     3  Palestine[note 3][103]     5223000        6025                867
3     4          Taiwan[note 4]    23580712       35980                655
4     5             South Korea    51844834       99720                520
5     6                 Lebanon     5296814       10400                509
6     7                  Rwanda    13173730       26338                500
7     8                 Burundi    12696478       27830                456
8     9                   India  1389637446     3287263                423
9    10             Netherlands    17400824       41543                419