# Welcome to the Table Extraction Service üìä

In [22]:
import pandas as pd

## Kindly provide us with the **URL** from which you wish to extract tabular data üåê.

In [23]:
population = pd.read_html('https://en.wikipedia.org/wiki/World_population')

## üìä Number of Tables on the Web Page

In [24]:
len(population)

29

## Table Extraction Request üìä

Please specify the position of the table you wish to extract. Kindly provide the relevant details.

In [20]:
n = int(input('Enter the position the table: '))
population[n]

   Rank                 Country  Population  Area (km2)  Density (pop/km2)
0     1               Singapore     5921231         719               8235
1     2              Bangladesh   165650475      148460               1116
2     3  Palestine[note 3][103]     5223000        6025                867
3     4          Taiwan[note 4]    23580712       35980                655
4     5             South Korea    51844834       99720                520
5     6                 Lebanon     5296814       10400                509
6     7                  Rwanda    13173730       26338                500
7     8                 Burundi    12696478       27830                456
8     9                   India  1389637446     3287263                423
9    10             Netherlands    17400824       41543                419